@media all and (max-width: 1350px) and (orientation: landscape) {
    .container{
        width: 1000px;
    }

    /*черная верхняя полоса*/
    .read_more_inside div:nth-of-type(2){
        padding: 12px 20px;
    }

    /*основное меню*/
    .goods li{
        margin-left: 22px;
    }
    .menu h3{
        margin-right: 36px;
    }
    .icon li{
        margin-left: 30px;
    }

    /*первый блок фото*/
    [src*='1']{
        margin: 0 120px 0 86px;
    }
    [src*='2']{
        margin: 0;
        height: 361px;
    }
    [src*='6'],[src*='7'], .sox, [src*='8']{
        margin: 30px 45px 30px 0;
    }
    [src*='8']{
        margin-right: 0;
    }

    /*красные скидки*/
    .sale_inside .discount_circle_3{
        left: 475px;
    }
    .sale_inside p:last-of-type, .sale_inside h3, .sale_inside h2, .sale_inside button{
        right: 50px;
    }

    /*нижний фон Nike*/
    .background_nike_inside p{
        padding: 152px 243px 45px;
    }
    .background_nike_inside:hover p{
        animation: my_7 .5s;
        animation-fill-mode: forwards;
    }
    @keyframes my_7{
        to{
            padding-top: 120px;
        }
    }
    .background_nike_inside:hover button{
        animation: my_8 .5s;
        animation-fill-mode: forwards;
    }
    @keyframes my_8{
        to{
            margin-bottom: 80px;
        }
    }

    /*второй блок фото Бренды*/
    .photo_brands_inside img{
        height: 95px;
        margin-left: 14px;
    }

    /*о компании*/
    .about_goods, .about_company, .phone_number{
        margin-right: 17px;
    }
    .instagram{
        margin-left: 20px;
    }

    /*кнопка "в начало страницы"*/
    .btn_up{
        margin-left: 935px;
    }
}


@media all and (max-width: 1020px) and (orientation: portrait) {
    .container{
        width: 760px;
    }

    /*черная верхняя полоса*/
    .read_more_inside div:first-child{
        margin-left: 33px;
    }
    .read_more_inside div:nth-of-type(2){
        padding: 21px 10px;
    }
    .fa-truck{
        padding-right: 10px;
    }
    .read_more_inside div:last-child{
        padding-top: 12px;
    }
    select{
        margin: 20px 0;
    }

    /*основное меню*/
    .goods li{
        margin-left: 22px;
        margin-bottom: 25px;
    }
    .menu h3{
        margin-right: 31px;
        margin-left: 31px;
    }
    .icon{
        margin-right: 18px;
    }
    .icon li{
        margin: 0 0 30px 25px;
    }

    /*первый блок фото*/
    [src*='1']{
        margin: 0 80px 0 80px;
        height: 300px;
    }
    [src*='2']{
        margin: 0;
        height: 300px;
    }
    [src*='6'],[src*='7'], .sox, [src*='8']{
        margin: 15px 7px 10px 0;
        width: 174px;
    }
    [src*='8']{
        margin-right: 0;
    }

    /*красные скидки*/
    .sale_inside{
        height: 340px;
    }
    .sale_inside p:last-of-type{
        top: 40px;
        right: 40px;
    }
    .sale_inside h3{
        top: 102px;
        right: 40px;
    }
    .sale_inside h2{
        top: 137px;
        right: 40px;
    }
    .sale_inside button{
        top: 246px;
        right: 40px;
    }
    .discount_circle_1, .discount_circle_2, .discount_circle_3{
        display: none;
    }
    .sss, .aaa, .lll, .eee{
        font-size: 145px;
    }
    .sss{
        top: 10px;
        left: 70px;
        transform: rotate(-10deg);
    }
    .aaa{
        top: 10px;
        left: 210px;
        transform: rotate(-10deg);
    }
    .lll{
        top: 160px;
        left: 70px;
        transform: rotate(-10deg);
    }
    .eee{
        top: 160px;
        left: 210px;
        transform: rotate(-10deg);
    }
    .sale_inside:hover .sss, .sale_inside:hover .aaa, .sale_inside:hover .lll, .sale_inside:hover .eee{
        animation-play-state: paused;
    }

    /*две кнопки*/
    .red_button button{
        margin: 40px 60px;
    }

    /*нижний фон Nike*/
    .background_nike_inside p{
        padding: 69px 123px 45px;
    }
    .background_nike_inside:hover p{
        animation-play-state: paused;
    }
    .background_nike_inside:hover button{
        animation-play-state: paused;
    }
    .background_nike_inside:hover{
        background: url("../img/background_nike.jpg") no-repeat center;
    }

    /*второй блок фото Бренды*/
    .photo_brands_inside img{
        height: 79px;
        margin-left: 0;
    }

    /*о компании*/
    .info_company_inside h3{
        margin: 35px 0 35px 36px;
    }
    .about_goods, .about_company, .phone_number{
        margin-right: 59px;
        margin-bottom: 25px;
    }
    .info_company_inside ul li{
        margin-bottom: 10px;
    }
    .instagram{
        display: none;
    }

    /*кнопка "в начало страницы"*/
    .btn_up{
        margin-left: 702px;
    }
}


@media all and (max-width: 763px) and (orientation: landscape) {
    .container{
        width: 667px;
    }

    /*черная верхняя полоса*/
    .read_more_inside div:first-child{
        margin-left: 25px;
    }
    .read_more_inside div:nth-of-type(2){
        padding: 21px 10px;
    }
    .fa-truck{
        padding-right: 10px;
    }
    .read_more_inside div:last-child{
        padding-top: 12px;
    }
    select{
        margin: 20px 0;
    }

    /*основное меню*/
    .goods li{
        margin-left: 11px;
        margin-bottom: 25px;
    }
    .menu h3{
        margin-right: 15px;
        margin-left: 25px;
    }
    .icon{
        margin-right: 20px;
    }
    .icon li{
        margin: 0 0 25px 24px;
    }

    /*первый блок фото*/
    [src*='1']{
        margin: 0 73px 0 73px;
        height: 260px;
    }
    [src*='2']{
        margin: 0;
        height: 260px;
    }
    [src*='6'],[src*='7'], .sox, [src*='8']{
        margin: 10px 8px 10px 0;
        width: 142px;
    }
    [src*='8']{
        margin-right: 0;
    }

    /*красные скидки*/
    .sale_inside{
        height: 300px;
    }
    .sale_inside p:last-of-type{
        top: 25px;
        right: 30px;
    }
    .sale_inside h3{
        top: 80px;
        right: 30px;
    }
    .sale_inside h2{
        top: 110px;
        right: 30px;
    }
    .sale_inside button{
        top: 215px;
        right: 30px;
    }
    .sss, .aaa, .lll, .eee{
        font-size: 110px;
    }
    .sss{
        top: 10px;
        left: 70px;
        transform: rotate(10deg);
    }
    .aaa{
        top: 10px;
        left: 180px;
        transform: rotate(10deg);
    }
    .lll{
        top: 155px;
        left: 70px;
        transform: rotate(10deg);
    }
    .eee{
        top: 155px;
        left: 180px;
        transform: rotate(10deg);
    }

    /*две кнопки*/
    .red_button button{
        margin: 35px 40px;
    }

    /*нижний фон Nike*/
    .background_nike_inside p{
        padding: 60px 75px 40px;
    }

    /*второй блок фото Бренды*/
    .photo_brands_inside img{
        height: 69px;
        margin-left: 0;
    }

    /*о компании*/
    .info_company_inside h3{
        margin: 30px 0 30px 30px;
    }
    .about_goods, .about_company, .phone_number{
        margin-right: 35px;
        margin-bottom: 20px;
        margin-left: 30px;

    }
    .info_company_inside ul li{
        margin-bottom: 9px;
    }
    .info_company_inside ul {
        margin-top: 30px;
    }

    /*кнопка "в начало страницы"*/
    .btn_up{
        margin-left: 621px;
    }
}


@media only screen and (max-device-width: 660px){
    .container{
        width: 373px;
    }

    /*черная верхняя полоса*/
    .read_more_inside div:first-child{
        margin-left: 65px;
    }
    .read_more_inside div:nth-of-type(2){
        padding: 13px 13px;
    }
    .fa-truck{
        padding-right: 10px;
    }
    .read_more_inside div:last-child{
        padding-top: 53px;
    }
    select{
        margin: 13px 0;
    }

    /*основное меню*/
    .goods{
        float: left;
        text-align: left;
    }
    .goods li{
        margin: 0 0 4px 30px;
        float: none;
    }
    .menu h3{
        float: none;
        width: 100%;
        height: 100%;
        margin: 25px 0 25px 0;
    }
    .menu{
        text-align: center;
    }
    .icon{
        margin-right: 0;
        margin-left: 215px;
        margin-top: 30px;
    }
    .icon li{
        margin: 0 0 25px 24px;
        float: none;
    }
    .goods li:hover{
        border-bottom: 1px solid transparent;
        color: #646464;
    }

    /*первый блок фото*/
    [src*='1']{
        margin: 0;
        height: auto;
        width: 170px;
    }
    [src*='2']{
        margin: 0;;
        height: auto;
        width: 170px;
    }
    [src*='6'],[src*='7'], .sox, [src*='8']{
        margin: 5px 5px 5px 0;
        width: 170px;
    }
    [src*='8']{
        margin-right: 0;
        width: 152px;
    }

    /*красные скидки*/
    .sale_inside{
        height: 230px;
    }
    .sale_inside p:last-of-type{
        top: 20px;
        right: 29px;
        font-size: 20px;
    }
    .sale_inside h3{
        top: 60px;
        right: 110px;
        font-size: 25px;
    }
    .sale_inside h2{
        top: 90px;
        right: 110px;
        font-size: 55px;
    }
    .sale_inside button{
        top: 162px;
        right: 69px;
        font-weight: 500;
    }
    .sss, .aaa, .lll, .eee{
        display: none;
    }

    /*две кнопки*/
    .red_button button{
        margin: 25px 40px;
    }
    .red_button .men{
        margin-top: 0;
    }

    /*нижний фон Nike*/
    .background_nike_inside p{
        padding: 40px 15px 30px;
        font-weight: 500;
        font-size: 27px;
    }
    .background_nike_inside button{
        width: 227px;
        height: 56px;
        font-weight: 500;
        font-size: 17px;
        margin-bottom: 40px;
        transition: .3s;
    }

    /*второй блок фото Бренды*/
    .photo_brands_inside img{
        height: 55px;
        margin: 0 16px;
    }

    /*о компании*/
    .info_company_inside{
        text-align: center;
    }
    .info_company_inside h3{
        margin: 25px 0;
        width: 100%;
        height: 100%;
    }
    .about_goods, .about_company, .phone_number{
        margin-right: 30px;
        margin-bottom: 20px;
        margin-left: 25px;
        text-align: left;

    }
    .info_company_inside ul li{
        margin-bottom: 9px;
    }
    .info_company_inside ul{
        margin-top: 25px;
        font-size: 13px;
    }
    .instagram{
        display: block;
        margin: 0 36px 20px 36px;
    }
    .instagram input{
        width: 250px;
        margin: 20px 0;
    }
    .instagram button{
        width: 250px;
        margin-bottom: 20px;
    }
    .fa-facebook-f, .fa-twitter, .fa-youtube{
        margin-left: 45px;
    }
    .instagram div{
        font-size: 25px;
    }

    /*кнопка "в начало страницы"*/
    .btn_up{
        margin-left: 329px;
    }
}