*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: 'Gotham', sans-serif;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style-type: none;
}
.container{
    width: 1600px;
    margin: 0 auto;
}
/*.clearfix::after{*/
/*    content: '';*/
/*    display: block;*/
/*    clear: both;*/
/*}*/
button{
    cursor: pointer;
}

/*  header  */
.read_more_inside{
    background: #181818;
    font-size: 14px;
}
