*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: 'Gotham Book', sans-serif;
    font-weight: 500;
    line-height: 1;
    /*height: 5000px;*/
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style-type: none;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
/*.clearfix::after{*/
/*    content: '';*/
/*    display: block;*/
/*    clear: both;*/
/*}*/
button{
    cursor: pointer;
}

/*  wrapper  */
.wrapper{
    background: url("../img/fullscreen.png") center/cover no-repeat fixed;
    color: #fff;
    height: 100%;
}

/*  header  */
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}
.header__nav img{
    margin: 22px 0 18px 0;
}
.header__menu ul{
    display: flex;
}
.header__menu li{
    margin: 0 24px;
}
.header__menu a{
    padding: 40px 0;
}
.header__menu a:hover{
    border-bottom: 5px solid #11749e;
}
.header__social ul{
    display: flex;
}
.header__social li{
    margin: 0 11px;
}
.header__social li:hover i{
    color: #11749e;
}
.header__social i{
    transition: .3s;
}

/*  section - home  */
.home{
    /*height: 80%;*/
    border-top: 1px solid #7b7b7b;
    text-align: center;
}
/*.home .container{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    height: 100%;*/

/*}*/
.home__top{
    margin-top: 13%;
}
.home__top h1{
    font-size: 152px;
    font-family: 'Gotham', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.home__top h4{
    font-size: 25px;
    font-weight: 500;
    color: #11749e;
    letter-spacing: 0.8em;
    text-transform: uppercase;
}
.home__bottom{
    margin-bottom: 8%;
}
.home__bottom div:first-child{
    font-size: 13px;
}
.home__bottom div:last-child{
    position: relative;
    left: 47%;
    padding: 25px 0;
    border: 1px solid white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 20px;
}
.home__bottom a{
    margin-top: 25px;
}