*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
/*  для того чтобы при 100% высоты был всегда на весь экран браузера*/
body{
    overflow-x: hidden;
    font-family: 'Gotham Book', sans-serif;
    font-weight: 500;
    line-height: 1;
    height: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style-type: none;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
button{
    cursor: pointer;
}

/*  wrapper  */
.wrapper{
    background: url("../img/fullscreen.png") center/cover no-repeat fixed;
    color: #fff;
    height: 100%;
}

/*  header  */
.header__nav{
    display: flex;
    justify-content: space-between;
/*  justify-content: space-between — в промежутки между flex-блоками вдоль основной оси поровну добавляется свободное место.  */
    align-items: center;
/*  align-items: center — flex-блоки центрируются на побочной оси.  */
    font-size: 20px;
}
.header__nav img{
    margin: 22px 0 18px 0;
}
.header__menu ul{
    display: flex;
}
.header__menu li{
    margin: 0 24px;
}
.header__menu a{
    padding: 40px 0;
}
.header__menu a:hover{
    border-bottom: 5px solid #11749e;
}
.header__social ul{
    display: flex;
}
.header__social li{
    margin: 0 11px;
}
.header__social li:hover i{
    color: #11749e;
}
.header__social i{
    transition: .3s;
}

/*  section - home  */
.home{
    height: 100%;
    border-top: 1px solid #7b7b7b;
    text-align: center;
}
.home .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.home__top{
    margin-top: 10%;
}
.home__top h1{
    font-size: 152px;
    font-family: 'Gotham', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.home__top h4{
    font-size: 25px;
    font-weight: 500;
    color: #11749e;
    letter-spacing: 0.8em;
    text-transform: uppercase;
}
.home__bottom{
    margin-bottom: 18%;
}
.home__bottom div:first-child{
    font-size: 13px;
}
.home__bottom div:last-child{
    position: relative;
    padding: 25px 0;
    left: 4px;
    border: 1px solid white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 20px;
    animation: circle 1s infinite alternate;
/* animation-direction: alternate; - чётные проигрывания анимации будут идти в обратном направлении, а нечётные — в обычном. */
}
.home__bottom a{
    padding: 25px;
}
@keyframes circle{
    from{
        bottom: 0;
    }
    to{
        bottom: -50px;
    }
}