*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body{
    overflow-x: hidden;
    font-family: 'Gotham Book', sans-serif;
    font-weight: 500;
    height: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style-type: none;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
button{
    cursor: pointer;
}