*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style-type: none;
}
.container{
    width: 1336px;
    margin: 0 auto;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
button{
    cursor: pointer;
}

/*черная верхняя полоса*/
.read_more_inside{
    background: #181818;
    font-size: 14px;
}
.read_more_inside div:first-child{
    float: left;
    margin-left: 38px;
    color: white;
    font-size: 12px;
}
.read_more_inside div:nth-of-type(2){
    float: right;
    padding: 12px 30px;
    background-color: #FEDF1E;
}
.read_more_inside div:last-child{
    color: #ffffff;
    text-align: center;
    padding: 12px 0;
    text-transform: capitalize;
}
select{
    background-color: #181818;
    border: none;
    width: 68px;
    color: white;
    font: inherit;
    font-size: 14px;
    margin: 10px 0;
}
.fa-truck{
    padding-right: 25px;
}
.read_more span{
    font-weight: 400;
}
.read_more a{
    color: #88C6FF;
    text-transform: none;
    text-decoration: underline;
}

/*основное меню*/
.menu{
    /*padding: 1px;*/
}
.menu h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 22px;
    width: 103px;
    height: 52px;
    margin: 20px 56px 20px 36px;
    float: left;
}
.goods{
    font-weight: 400;
    font-size: 18px;
}
.goods li{
    float: left;
    margin: 32px 0 32px 41px;
    border-bottom: 1px solid transparent;
    padding: 3px 0;
    transition: .4s;
}
.goods li:hover{
    border-bottom: 1px solid rgba(0,0,0,0.6);
    color: #646464;
}
.icon{
    font-size: 22px;
    margin-right: 36px;
}
.icon li{
     float: right;
     margin: 36px 0 37px 36px;
}
.icon li:nth-of-type(3){
    position: relative;
}
.icon span{
    color: #d71c2c;
    position: absolute;
    font-size: 18px;
    font-weight: 500;
    top: -10px;
}

/*первый блок фото*/
.photo_goods_1 img{
     float: left;
}
.photo_goods_1 .sox{
     float: left;
     width: 216px;
     height: 204px;
     background-color: #FEDF1E;
     text-align: center;
     cursor: pointer;
}
[src*='1']{
     margin: 59px 46px 72px 36px;
}
[src*='2']{
    margin: 41px 36px 55px 0;
}
[src*='6'],[src*='7']{
    margin: 31px 10px 8px 0;
}
[src*='8']{
    margin-left: 10px;
}
.sox h4{
    font-weight: 500;
    font-size: 18px;
    margin: 32px 0 8px;
}
.sox h2{
    font-weight: 600;
    font-size: 42px;
}
.sox p{
    font-weight: 300;
    font-size: 12px;
    margin: 29px 22px 34px;
}

/*красные скидки*/
.sale_inside{
    background-color: #C12633;
    color: #FFFFFF;
    height: 407px;
    position: relative;
}
.sale_inside p:last-of-type{
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    position: absolute;
    top: 70px;
    right: 88px;
}
.sale_inside h3{
    font-weight: 600;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    position: absolute;
    top: 132px;
    right: 88px;
}
.sale_inside h2{
    font-weight: 600;
    font-size: 72px;
    letter-spacing: 0.04em;
    position: absolute;
    top: 167px;
    right: 88px;
}
.sale_inside button{
    width: 227px;
    height: 50px;
    background-color: #FFFFFF;
    color: #000000;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0;
    position: absolute;
    top: 276px;
    right: 88px;
    transition: .3s;
}
.sss, .aaa, .lll, .eee{
    font-weight: 800;
    font-size: 194px;
    position: absolute;
}
.sss{
    top: 142px;
    left: 93px;
    transform: rotate(-18.82deg);
}
.aaa{
    top: 52px;
    left: 256px;
    transform: rotate(7.67deg);
}
.lll{
    top: 135px;
    left: 410px;
    transform: rotate(-24.68deg);
}
.eee{
    top: 90px;
    left: 509px;
    transform: rotate(14.68deg);
}
.discount_circle_1, .discount_circle_2, .discount_circle_3{
    width: 58px;
    height: 58px;
    background-color: white;
    border-radius: 29px;
    font-weight: 500;
    color: #C12633;
    font-size: 45px;
    text-align: center;
    padding-top: 3px;
    position: absolute;
    top: 166px;
    left: 186px;
}
.sale_inside .discount_circle_2{
    top: 241px;
    left: 361px;
    transform: rotate(38.94deg);
}
.sale_inside .discount_circle_3{
    top: 71px;
    left: 666px;
    color: white;
    border: 2px solid white;
    background-color: #C12633;
    transform: rotate(-37.5deg);
    padding-top: 0;
}
.sale_inside button:hover{
    color: #d71c2c;
}
.sale_inside:hover .discount_circle_3{
    animation: my_1 1s;
    animation-fill-mode: forwards;
}
@keyframes my_1{
    to{
        transform: rotate(360deg);
    }
}
.sale_inside:hover .discount_circle_1, .sale_inside:hover .discount_circle_2{
    animation: my_2;
    animation-fill-mode: forwards;
}
@keyframes my_2{
    to{
        z-index: -1;
    }
}
.sale_inside:hover .sss{
    animation: my_3 1s;
    animation-fill-mode: forwards;
}
@keyframes my_3{
    to{
        transform: rotate(0);
    }
}
.sale_inside:hover .aaa{
    animation: my_4 1s;
    animation-fill-mode: forwards;
}
@keyframes my_4{
    to{
        transform: rotate(0);
        top: 142px;
    }
}
.sale_inside:hover .lll{
    animation: my_5 1s;
    animation-fill-mode: forwards;
}
@keyframes my_5{
    to{
        transform: rotate(0);
        top: 142px;
    }
}
.sale_inside:hover .eee{
    animation: my_6 1s;
    animation-fill-mode: forwards;
}
@keyframes my_6{
    to{
        transform: rotate(0);
        top: 142px;
        left: 545px;
    }
}

/*две кнопки*/
.red_button_inside{
    text-align: center;
    background: url("../img/nike_back.png") repeat right fixed;
}
.red_button button{
    width: 244px;
    height: 48px;
    background-color: #C12633;
    color: white;
    border: none;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 40px 108px;
    transition: .4s;
}
.red_button button:hover{
    color: black;
}

/*нижний фон Nike*/
.background_nike_inside{
    background: url("../img/background_nike.jpg") no-repeat center;
    text-align: center;
    transition: .4s;
}
.background_nike_inside:hover{
    background: url("../img/nike_mono.jpg") no-repeat center;
}
.background_nike_inside p{
    color: white;
    font-weight: 600;
    font-size: 40px;
    padding: 152px 394px 45px;
}
.background_nike_inside span{
    white-space: nowrap;
}
.background_nike_inside button{
    width: 325px;
    height: 65px;
    background-color: #FFFFFF;
    color: #000000;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0;
    margin-bottom: 48px;
    transition: .3s;
}
.background_nike_inside button:hover{
    color: #d71c2c;
}
.background_nike_inside:hover p{
      animation: my_7 .5s;
      animation-fill-mode: forwards;
}
@keyframes my_7{
    to{
        padding: 100px 394px 45px;
    }
}
.background_nike_inside:hover button{
    animation: my_8 .5s;
    animation-fill-mode: forwards;
}
@keyframes my_8{
    to{
        margin-bottom: 100px;
    }
}

/*второй блок фото Бренды*/
.photo_brands_inside{
    text-align: center;
    line-height: 0;
}
.photo_brands_inside img{
    margin-left: 20px;
}

/*о компании*/
.info_company_inside{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    background-color: #181818;
    padding: 1px;
}
.info_company_inside h3{
    font-size: 22px;
    width: 103px;
    height: 52px;
    margin: 35px 0 40px 36px;
}
.about_goods, .about_company, .phone_number{
    font-size: 16px;
    margin: 0 100px 35px 36px;
    float: left;
}
.info_company_inside ul{
    font-weight: 300;
    font-size: 14px;
    margin-top: 35px;
}
.info_company_inside ul li{
    margin-bottom: 16px;
}
.fa-mobile-alt, .fa-envelope-open{
    padding-right: 12px;
}
.instagram{
    width: 300px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin: 0 50px 35px 36px;
    float: right;
}
.instagram input{
    width: 280px;
    height: 30px;
    border: 1px solid white;
    border-radius: 4px;
    background: #181818;
    color: white;
    margin: 25px 0;
}
.instagram button{
    width: 280px;
    height: 30px;
    background-color: #FFFFFF;
    color: #000000;
    text-transform: uppercase;
    border: none;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0;
    margin-bottom: 25px;
}.instagram button i{
     margin-left: 25px;
 }
.instagram div{
    font-size: 30px;
}
.fa-facebook-f, .fa-twitter, .fa-youtube{
    margin-left: 50px;
}
.instagram i{
    cursor: pointer;
    transition: .3s;
}
.instagram i:hover{
    color: #C12633;
}

/*кнопка "в начало страницы"*/
.btn_up{
    width: 46px;
    height: 46px;
    background-color: #949393;
    border: none;
    font-size: 23px;
    position: fixed;
    bottom: 55px;
    margin-left: 1270px;
    opacity: .6;
    transition: .6s;
}
.btn_up:hover{
    opacity: .9;
}