*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    height: 2000px;
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
    width: 1336px;
    margin: 0 auto;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
/*черная верхняя полоса*/
.read_more p{
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    background: #181818;
    padding: 12px 0;
    text-transform: capitalize;
}
.read_more span{
    font-weight: 400;
}
.read_more a{
    color: #88C6FF;
    text-transform: none;
    text-decoration: underline;
}

/*основное меню*/
.menu{
    padding: 1px;
}
.menu h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 22px;
    width: 103px;
    height: 52px;
    margin: 20px 56px 20px 36px;
    float: left;
}
.goods{
    list-style-type: none;
    font-weight: 400;
    font-size: 18px;
}
.goods li{
    float: left;
    margin: 32px 0 32px 36px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 5px;
}
.goods li:hover{
    border: 1px solid rgba(0,0,0,0.6);
}
.icon{
    list-style-type: none;
    font-size: 22px;
    margin-right: 29px;
}.icon li{
     float: right;
     margin: 36px 24px 37px 0;
 }

/*первый блок фото*/
 .photo_goods_1 img{
     float: left;
 }
 .photo_goods_1 .sox{
     float: left;
     width: 216px;
     height: 204px;
     background-color: #FEDF1E;
 }
 [src*='1']{
     margin: 59px 46px 72px 36px;
 }
[src*='2']{
    margin: 41px 36px 55px 0;
}
[src*='6'],[src*='7']{
    margin: 31px 10px 8px 0;
}
[src*='8']{
    margin-left: 10px;
}
.sox h4{
    font-weight: 500;
    font-size: 18px;
    margin: 32px 0 8px;
}
.sox h2{
    font-weight: 600;
    font-size: 42px;
}
.sox p{
    font-weight: 300;
    font-size: 12px;
    margin: 29px 22px 34px;
}
 .sox{
     text-align: center;
 }

/*скидки*/
.sale_inside{
    background-color: #C12633;
    color: #FFFFFF;
    height: 407px;
    position: relative;
}
.sale_inside p:last-of-type{
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    position: absolute;
    top: 70px;
    right: 88px;
}
.sale_inside h3{
    font-weight: 600;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    position: absolute;
    top: 132px;
    right: 88px;
}
.sale_inside h2{
    font-weight: 600;
    font-size: 72px;
    letter-spacing: 0.04em;
    position: absolute;
    top: 167px;
    right: 88px;
}
.sale_inside button{
    width: 227px;
    height: 50px;
    background-color: #FFFFFF;
    color: #000000;
    text-transform: uppercase;
    border: none;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0;
    position: absolute;
    top: 287px;
    right: 88px;
}
.sss, .aaa, .lll, .eee{
    font-weight: 800;
    font-size: 194px;
    position: absolute;
}
.sss{
    top: 142px;
    left: 93px;
    transform: rotate(-18.82deg);
}
.aaa{
    top: 52px;
    left: 256px;
    transform: rotate(7.67deg);
}
.lll{
    top: 135px;
    left: 410px;
    transform: rotate(-24.68deg);
}
.eee{
    top: 90px;
    left: 509px;
    transform: rotate(14.68deg);
}
.discount_circle_1, .discount_circle_2, .discount_circle_3{
    width: 58px;
    height: 58px;
    background-color: white;
    border-radius: 29px;
    font-weight: 500;
    color: #C12633;
    font-size: 45px;
    text-align: center;
    padding-top: 3px;
    position: absolute;
    top: 166px;
    left: 186px;
}
.sale_inside .discount_circle_2{
    top: 241px;
    left: 361px;
    transform: rotate(38.94deg);
}
.sale_inside .discount_circle_3{
    top: 71px;
    left: 666px;
    color: white;
    border: 2px solid white;
    background-color: #C12633;
    transform: rotate(-37.5deg);
    padding-top: 0;
}




