@media all and (max-width: 1601px){

/*  NEWS  */
    .news_item{
        width: 100%;
        padding: 30px 0;
        margin: 0 50px 0 50px;
    }
    .news_row_2 .news_item{
        margin: 0 50px 0 50px;
    }
    .news img{
        width: 750px;
        height: auto;
    }
    .news_item h2 + p{
        margin-bottom: 25px;
    }
}


@media all and (max-width: 1215px){
    .container{
        width: 1024px;
    }

    /*  WRAPPER  */
    .wrapper{
        background: url("../img/fullscreen.png") center/cover no-repeat;
    }

/*  HEADER  */
    .header__menu li {
        margin: 0 20px;
    }

/*  FEATURES  */
    .features h3{
        margin: 150px 0 130px;
    }
    .features h2{
        top: 40px;
    }
    .features__item {
        width: 225px;
    }
    .features__item h3{
        margin: 24px 0 30px;
    }
    .features__row__item{
        margin-bottom: 40px;
    }

/*  NEWS  */
    .news_item{
        width: 100%;
        padding: 25px 0;
        margin: 0 40px 0 40px;
    }
    .news_row_2 .news_item{
        margin: 0 40px 0 40px;
    }
    .news img{
        width: 400px;
        height: auto;
    }
    .news_item h2 + p{
         margin-bottom: 20px;
    }

/*  BLOG  */
    .blog h3{
        margin: 140px 0 130px;
    }
    .blog h2{
        top: 30px;
    }
    .blog h4{
        margin: 0 0 45px;
    }
    .blog__item h3{
        margin: 30px 0 25px;
    }
    .blog__item{
        width: 225px;
    }
    .blog .icon img{
        width: 220px;
        height: auto;
    }
    .blog__row__item{
        margin-bottom: 40px;
    }
    .pages_row{
        margin-bottom: 0;
        flex-wrap: wrap;
        justify-content: space-around;
    }

/*  BLUE_BLOG  */
    .blue_blog__item{
        margin: 30px 25px;
    }

/*  KEY  */
    .key{
        background: url("../img/bg2.jpg") center/cover no-repeat;
    }
    .key img{
        margin: 45px 0;
        height: 470px;
        width: auto;
    }

/*  TEAM  */
    .team h3{
        margin: 150px 0 130px;
    }
    .team h2{
        top: 32px;
    }
    .team h4{
        margin: 0 0 45px;
    }
    .team .icon img{
        width: 200px;
        height: auto;
    }
    .team__item h3{
        margin: 20px 0 15px;
    }
    .team__item .icon_info{
        background-color: transparent;
        width: 200px;
        bottom: 49px;
    }
    .team__item{
        width: 215px;
    }
    .team__row__item{
        margin-bottom: -30px;
    }

/*  CONTACT  */
    .contact{
        background: url("../img/bg3.jpg") center/cover no-repeat;
    }
    .contact h3{
        margin: 150px 0 125px;
    }
    .contact h2{
        top: 45px;
    }
    .contact__item{
        margin: 0 0 30px 0;
    }
    .contact textarea{
        height: 150px;
    }
    .contact button{
        margin: 40px 0;
    }
    .contact input{
        width: 310px;
    }

/*  MAP  */
    .map iframe{
        height: 200px;
    }

/*  FOOTER  */
    .footer__all{
        height: 100px;
    }

/*  "В НАЧАЛО СТРАНИЦЫ"  */
    .btn_up{
        right: 0;
    }

/*  "НАЧАЛО РАЗГОВОРА"  */
    .btn_order{
        right: 0;
    }

/*  "ONLINE_CHAT"  */
    .online_chat{
        right: 10px;
    }
    .online_chat .btn_close{
        right: 0;
    }
    .online_chat .triangle{
        right: 22px;
    }
}


@media all and (max-width: 1023px){
    .container{
        width: 667px;
        padding: 0 10px;
    }

/*  HEADER  */
    .header__nav{
        flex-direction: column;
    }
    .header__menu li{
        margin: 0 11px;
    }
    .header__menu{
        margin: 15px 0;
    }
    .header__social{
        margin-top: 15px;
        order: 1;
        align-self: flex-end;
    }
    .header__nav img{
        margin: 0 0 10px 0;
        order: 2;
    }
    .header__menu{
        order: 3;
    }
    .header__menu a{
        padding: 8px 0;
    }

/*  HOME  */
    .home__top h1{
        font-size: 100px;
        margin-bottom: 10px;
    }
    .home__top h4{
        font-size: 15px;
    }
    .home__top{
        margin-top: 5%;
    }
    .home .container{
        justify-content: space-around;
    }

/*  FEATURES  */
    .features h3{
        font-size: 30px;
        margin: 100px 0 90px;
    }
    .features h2{
        font-size: 200px;
        top: 17px;
    }
    .features__item{
        width: 285px;
        margin-bottom: 15px;
    }
    .features__item h3{
        font-size: 18px;
        margin: 20px 0 20px;
    }
    .features__row__item{
        margin-bottom: 0;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .features .icon{
        width: 100px;
        height: 100px;
    }
    .features .icon img{
        margin-top: 34px;
    }

/*  NEWS  */
    .news_item{
        font-weight: 500;
        width: 100%;
        padding: 25px 0;
        margin: 0 25px 0 25px;
    }
    .news_row_2 .news_item{
        margin: 0 25px 0 25px;
    }
    .news img{
        width: 100%;
        height: auto;
    }
    .news_item h2 + p{
        margin-bottom: 20px;
    }
    .news_row_1{
        flex-wrap: wrap;
    }
    .news_row_2{
        flex-wrap: wrap-reverse;
    }

/*  BLOG  */
    .blog h3{
        font-size: 30px;
        margin: 100px 0 90px;
        text-align: center;
    }
    .blog h2{
        font-size: 200px;
        top: 17px;
    }
    .blog h4{
        font-size: 23px;
        margin: 0 0 25px;
    }
    .blog__item h3{
        font-size: 18px;
        margin: 20px 0 15px;
    }
    .blog__item{
        width: 293px;
        margin: 0 0 20px;
    }
    .blog__row__item{
        margin-bottom: 0;
        flex-wrap: wrap;
        justify-content: space-around;
    }

/*  BLUE_BLOG  */
    .blue_blog .blue_blog__item:last-child{
        display: none;
    }
    .blue_blog .container{
        justify-content: center;
    }
    .blue_blog__item{
        width: 100%;
        margin: 20px 20px;
    }
    .blue_blog__item p{
        line-height: 1.8em;
    }

/*  KEY  */
    .key__row__item{
        flex-direction: column;
    }
    .key img{
        margin: -80px 0 -85px;
        height: 450px;
        width: auto;
        transform: rotate(90deg);
    }
    .key__item{
        width: 500px;
        margin: 0 15px 0 70px;
    }
    .key__item p{
        margin: 0 0 30px 0;
    }
    .key__item h3{
        font-size: 25px;
        margin: 30px 0 30px 0;
    }

/*  TEAM  */
    .team h3{
        font-size: 30px;
        margin: 100px 0 90px;
    }
    .team h2{
        font-size: 200px;
        top: 17px;
    }
    .team h4{
        font-size: 24px;
        margin: 0 0 25px;
    }
    .team__item h3{
        font-size: 20px;
        margin: 20px 0 15px;
    }
    .team__item{
        width: 275px;
        margin-bottom: -42px;
    }
    .team__row__item{
        margin-bottom: 0;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .team .icon img{
        width: 100%;
        height: auto;
    }

/*  CONTACT  */
    .contact h3{
        font-size: 30px;
        margin: 100px 0 90px;
    }
    .contact h2{
        font-size: 200px;
        top: 25px;
    }
    .contact__item{
        margin: 0 0 20px 0;
        flex-direction: column;
    }
    .contact textarea{
        height: 100px;
    }
    .contact button{
        margin: 25px 0;
        width: 180px;
        height: 50px;
        font-size: 20px;
    }
    .contact input{
        padding: 10px 0 10px 20px;
        width: 100%;
        margin-bottom: 10px;
    }

/*  MAP  */
    .map iframe{
        height: 110px;
    }

/*  FOOTER  */
    .footer__all{
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .footer__all img{
        margin: 20px 0 27px;
    }
    .footer__all p:last-child{
        margin-bottom: 20px;
    }
}


@media all and (max-width: 666px){
    .container{
        width: 375px;
        padding: 0 10px;
    }

/*  HEADER  */
    .header__menu ul{
        flex-direction: column;
    }
    .header__social ul{
        flex-direction: column;
    }
    .header__social li{
        margin: 15px 11px;
    }

    .header__nav{
        flex-direction: row;
    }
    .header__menu li{
        margin: 7px 11px;
    }
    .header__menu{
        margin: 15px 0;
    }
    .header__social{
        flex-direction: column;
        margin-top: 15px;
        order: 3;
        align-self: center;
    }
    .header__nav img{
        margin: 0 0 10px 0;
        order: 2;
    }
    .header__menu{
        order: 1;
    }
    .header__menu a{
        padding: 3px 0;
    }

/*  HOME  */
    .home__top h1{
        font-size: 55px;
        margin-bottom: 20px;
    }
    .home__top h4{
        font-size: 15px;
        letter-spacing: .2em;
    }
    .home__top{
        margin-top: 20%;
    }
    .home .container{
        display: block;
        justify-content: space-around;
    }
    .home__bottom{
        display: none;
    }

/*  FEATURES  */
.features{
    text-align: center;
}

/*  BLOG  */
    .blog{
        text-align: center;
    }


/*  KEY  */
    .key__item{
        width: 330px;
        margin: 0 20px 0 20px;
    }
    .key__item button{
        width: 100%;
    }
    .key__item button:nth-of-type(2){
        width: 100%;
    }
    .key__item button:nth-of-type(3){
        width: 100%;
    }
    .key img{
        display: none;
    }
    .key__item button:last-child{
        margin-bottom: 20px;
    }

/*  TEAM  */
    .team{
        text-align: center;
    }

/*  CONTACT  */
    .contact h3{
        margin: 100px 0 50px;
    }
}