@media all and (max-width: 1601px){
    .news_item{
        /*width: 480px;*/
        width: 100%;
        /*height: auto;*/
        padding: 30px 0;
        /*padding: 0 115px 0 205px;*/
        margin: 0 50px 0 50px;
        /*flex-shrink: 0;*/
    }
    .news_row_2 .news_item{
        margin: 0 50px 0 50px;
    }
    .news img{
        width: 750px;
        height: auto;
        /*max-width: 800px;*/
        /*flex-shrink: 2;*/
    }
}

@media all and (max-width: 1215px){
    .news_item{
        /*width: 480px;*/
        width: 100%;
        /*height: auto;*/
        padding: 25px 0;
        /*padding: 0 115px 0 205px;*/
        margin: 0 40px 0 40px;
        /*flex-shrink: 0;*/
    }
    .news_row_2 .news_item{
        margin: 0 40px 0 40px;
    }
    .news img{
        width: 400px;
        height: auto;
        /*max-width: 800px;*/
        /*flex-shrink: 2;*/
    }.news_item h2 + p {
         margin-bottom: 20px;
     }
}