@media all and (max-width: 1601px){
    .news_item{
        /*width: 480px;*/
        width: 100%;
        /*height: auto;*/
        padding: 30px 0;
        /*padding: 0 115px 0 205px;*/
        margin: 0 50px 0 50px;
        /*flex-shrink: 0;*/
    }
    .news_row_2 .news_item{
        margin: 0 50px 0 50px;
    }
    .news img{
        width: 750px;
        height: auto;
        /*max-width: 800px;*/
        /*flex-shrink: 2;*/
    }
    .news_item h2 + p{
        margin-bottom: 30px;
    }
}

@media all and (max-width: 1215px){
    .container{
        width: 1024px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .features__item {
        /*font-size: 15px;*/
        width: 225px;
        /*display: flex;*/
        /*flex-direction: column;*/
        /*align-items: center;*/
        /*margin: 0 15px;*/
    }
    .features__row__item {
        display: flex;
        margin-bottom: 70px;
        text-align: center;
    }
    .header__menu li {
         margin: 0 20px;
     }
    .news_item{
        /*width: 480px;*/
        width: 100%;
        /*height: auto;*/
        padding: 25px 0;
        /*padding: 0 115px 0 205px;*/
        margin: 0 40px 0 40px;
        /*flex-shrink: 0;*/
    }
    .news_row_2 .news_item{
        margin: 0 40px 0 40px;
    }
    .news img{
        width: 400px;
        height: auto;
        /*max-width: 800px;*/
        /*flex-shrink: 2;*/
    }
    .news_item h2 + p{
         margin-bottom: 20px;
    }
    .blog__item {
        /*font-size: 15px;*/
        width: 225px;
        /*display: flex;*/
        /*flex-direction: column;*/
        /*align-items: center;*/
        /*margin: 0 15px;*/
    }
    .blog .icon img {
        width: 220px;
        height: auto;
        /*transition: .3s;*/
    }
    .blog__row__item {
        display: flex;
        margin-bottom: 70px;
        text-align: center;
    }
    .team .icon img {
        width: 200px;
        height: auto;
    }
    .team__item {
        font-size: 16px;
        width: 215px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 15px;
    }
    .team__row__item {
        display: flex;
        margin-bottom: 15px;
        text-align: center;
    }
    .contact input {
        border: 1px solid #fff;
        background: transparent;
        color: #fff;
        width: 310px;
        padding: 15px 0 15px 20px;
        transition: .3s;
    }
}


@media all and (max-width: 1023px){
    .container{
        width: 667px;
        margin: 0 auto;
        padding: 0 15px;
    }
}