@media all and (max-width: 1601px){

/*  NEWS  */
    .news_item{
        width: 100%;
        padding: 30px 0;
        margin: 0 50px 0 50px;
    }
    .news_row_2 .news_item{
        margin: 0 50px 0 50px;
    }
    .news img{
        width: 750px;
        height: auto;
    }
    .news_item h2 + p{
        margin-bottom: 25px;
    }
}

@media all and (max-width: 1215px){
    .container{
        width: 1024px;
    }

/*  HEADER  */
    .header__menu li {
        margin: 0 20px;
    }

/*  FEATURES  */
    .features h3{
        margin: 150px 0 130px;
    }
    .features h2{
        top: 40px;
    }
    .features__item {
        width: 225px;
    }
    .features__item h3{
        margin: 24px 0 30px;
    }
    .features__row__item{
        margin-bottom: 40px;
    }

/*  NEWS  */
    .news_item{
        width: 100%;
        padding: 25px 0;
        margin: 0 40px 0 40px;
    }
    .news_row_2 .news_item{
        margin: 0 40px 0 40px;
    }
    .news img{
        width: 400px;
        height: auto;
    }
    .news_item h2 + p{
         margin-bottom: 20px;
    }

/*  BLOG  */
    .blog h3{
        margin: 140px 0 130px;
    }
    .blog h2{
        top: 30px;
    }
    .blog h4{
        margin: 0 0 45px;
    }
    .blog__item h3{
        margin: 30px 0 25px;
    }
    .blog__item{
        width: 225px;
    }
    .blog .icon img{
        width: 220px;
        height: auto;
    }
    .blog__row__item{
        margin-bottom: 40px;
    }

/*  BLUE_BLOG  */
    .blue_blog__item{
        margin: 30px 25px;
    }

/*  KEY  */
    .key img{
        margin: 45px 0;
        height: 470px;
        width: auto;
    }

/*  TEAM  */
    .team h3{
        margin: 150px 0 130px;
    }
    .team h2{
        top: 32px;
    }
    .team h4{
        margin: 0 0 45px;
    }
    .team .icon img{
        width: 200px;
        height: auto;
    }
    .team__item h3{
        margin: 20px 0 15px;
    }
    .team__item .icon_info{
        background-color: transparent;
        width: 200px;
        bottom: 49px;
    }
    .team__item{
        width: 215px;
    }
    .team__row__item{
        margin-bottom: -30px;
    }

/*  CONTACT  */
    .contact h3{
        margin: 150px 0 125px;
    }
    .contact h2{
        top: 45px;
    }
    .contact__item{
        margin: 0 0 30px 0;
    }
    .contact textarea{
        height: 150px;
    }
    .contact button{
        margin: 40px 0;
    }
    .contact input{
        width: 310px;
    }


/*  MAP  */
    .map iframe{
        height: 200px;
    }

/*  FOOTER  */
    .footer__all{
        height: 100px;
    }

/*  "В НАЧАЛО СТРАНИЦЫ"  */
    .btn_up{
        bottom: 60px;
        right: 0;
    }

/*  "НАЧАЛО РАЗГОВОРА"  */
    .btn_order{
        bottom: 115px;
        right: 0;
    }
}

@media all and (max-width: 1023px){
    .container{
        width: 667px;
    }
}