@media all and (max-width: 1380px){

    .wrapper{
        width: 1024px;
    }
    .wrap_btn{
        width: 1024px;
    }
    .menu.bottomRight{
        margin-left: 975px;
    }
    .header__logo{
        margin-right: 25px;
    }
    .header__menu{
        margin-right: 30px;
    }
    .header__menu ul{
        grid-column-gap: 45px;
    }
    .home_1{
        letter-spacing: normal;
    }
    .home_logo{
        margin-left: 0;
    }
    .home_1 p{
        margin: 0;
    }
    .home__item_1 p{
        margin: 15px 0 15px 30px;
    }
    .home__item_1 .home_logo{
        margin-left: 30px;
    }
    .home__item_2 p, .home__item_3 p, .home__item_4 p, .home__item_5 p, .home__item_6 p{
        margin: 0 0 15px 15px;
    }
    .home_logo{
        margin-left: 15px;
    }
    .home__item_2, .home__item_3, .home__item_4, .home__item_5, .home__item_6{
        grid-template-rows: 1fr 1fr;
    }
}


@media all and (max-width: 1023px){

    .wrapper{
        width: 667px;
    }
    .wrap_btn{
        width: 667px;
    }
    .menu.bottomRight{
        margin-left: 617px;
    }
    .header{
        grid-template-columns: 1fr 0;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .header__logo{
        margin: 25px 0 0;
    }
    .header__menu{
        margin: -50px 15px 0 0;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .header__menu ul{
        grid-column-gap: 20px;
    }
    .header__name{
        grid-row: 2/3;
    }
    .header__name h2{
        margin: 120px 0 25px 40px;
        text-shadow: 0 0 15px #ffffff;
    }
    .header__arrow{
        grid-row: 4/5;
        margin-top: 50px;
    }
    .home_1{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        border: 20px solid white;
        grid-column-gap: 20px;
        grid-row-gap: 20px
    }
    .home__item_1{
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: 40px;
        height: 500px;
    }
    .home_logo{
        margin-left: 0;
    }
    .home_1 p{
        margin: 0;
    }
    .home__item_1 p{
        margin: 15px 0 15px 30px;
    }
    .home__item_1 .home_logo{
        margin-left: 30px;
    }
    .home__item_2 p, .home__item_3 p, .home__item_4 p, .home__item_5 p, .home__item_6 p{
        margin: 0 0 15px 15px;
    }
    .home_logo{
        margin-left: 15px;
    }
    .home__item_2, .home__item_3, .home__item_4, .home__item_5, .home__item_6{
        grid-template-rows: 3fr 1fr;
    }
    .home2__text{
        right: 0;
    }
    .footer__social{
        display: none;
    }
    .footer__about{
        margin-left: 30px;
        margin-right: 30px;
        grid-column-gap: 25px;
    }
    .footer{
        font-size: 18px;
        letter-spacing: 2px;
    }
    .footer__about li:first-child{
        margin-right: 0;
    }



/*  МЕНЮ ГАМБУРЕР  */

/*  Значок Гамбургера  */
    .menu-burger__header{
        position: fixed;
        width: 40px;
        height: 35px;
        background-color: white;
        margin-left: 590px;
        /*right: 15px;*/
        top: 75px;
        border: 8px solid white;
        box-sizing: content-box;
        box-shadow: 0 0 20px rgba(0, 0, 0, .35);
        z-index: 999;
    }
    .menu-burger__header:hover{
        cursor: pointer;
    }
    .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
        height: 3px;
        width: 100%;
        position: absolute;
        background: #5f5f5f;
    }
    .menu-burger__header span{
        top: 16px;
    }
    .menu-burger__header:after, .menu-burger__header:before{
        content: '';
    }
    .menu-burger__header:after{
        bottom: 5px;
    }
    .menu-burger__header:before{
        top: 5px;
    }

/*  Анимация Гамбургера на КРЕСТИК  */
    .menu-burger__header.open-menu span{
        opacity:0;
        transition: 0.5s;
    }
    .menu-burger__header.open-menu:before{
        transform: rotate(38deg);
        top: 16px;
        transition: 0.4s;
    }
    .menu-burger__header.open-menu:after{
        transform: rotate(-38deg);
        bottom: 16px;
        transition: 0.4s;
    }
    .menu-burger__header.open-menu{
        position: fixed;
    }

/*  Скрытие элементов МЕНЮ  */
    .menu__ul{
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        color: black;
        width: 100%;
        background: rgba(245, 246, 246, 1);
        box-shadow: 0 8px 7px -3px rgba(36, 36, 36, 0.7);
        transition: all 0.4s ease;
        overflow: auto;
    }
    .menu__ul li{
        margin: 28px 0 28px 35px;
    }
    .menu__ul a:hover{
        padding-left: 5px;
    }
    .menu__ul a{
        transition: 0.35s;
    }

/*  Появление МЕНЮ по нажатию на Гамбургер  */
    .menu__ul.open-menu{
        left: 0;
        position: fixed;
        z-index: 99;
    }

/*  Накладывалось сверху на меню, пришлось убрать  */
    .home_2{
        z-index: -1;
    }

/*  ЗАТЕМНЕНИЕ ФОНА ПРИ ПОЯВЛЕНИИ МЕНЮ ГАМБУРГЕР  */
    .overlay{
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.75);
        opacity: 0;
        transition: all 0.4s ease;
        z-index: 10;
    }
    .overlay.open-menu{
        left: 0;
        opacity: 1;
    }

/*  Модальное окно  */
    .modal_window h2{
        font-size: 20px;
    }

}