html, body {
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.app {
  padding: 10px 20px;
  display: flex;
  min-height: 100vh;
  min-width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding: 10px 0;
  text-align: center;
}

.header > a {
  font-size: 28px;
  color: black;
  text-decoration: none;
}

.title {
  font-size: 24px;
  text-align: center;
}

.mainmenu__list {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px gray solid;
  display: flex;
}

.mainmenu li {
  list-style: none;
}

.mainmenu__link {
  display: block;
  padding: 10px 25px;
  color: #000;
  text-decoration: none;
}

.mainmenu__link:hover {
  text-decoration: none;
  background-color: darkgray;
  color: #fff;
}

.mainmenu__link.active {
  text-decoration: none;
  background-color: #000;
  color: #fff;
}

.content {
  padding: 0.8em 0;
  flex-grow: 1;
}

/*------------------------------*/
#content { /* тут */
  height: 500px;
  overflow: auto;
}
.chart__wrap {
  width: 300px;
  height: 12px;
  display: inline-block;
  border: 1px solid #bab9b9;
  border-radius: 3px;
}
.chart {
  height: 10px;
  width: 0;
  background-color: #ff4847;
  /*background-color: #5eef5e;*/
  display: block;
  border-radius: 2px;
  transition: 1.5s;
}
.state__wrap {
  width: 700px;
  padding: 0 15px;
  border: 1px solid #bab9b9;
  border-radius: 8px;
  text-align: center;
  margin: 7px 0;
  transition: .3s;
}
.state__wrap:hover {
  border: 1px solid #7c7c7c;
}
.state__wrap p {
  margin: 10px 0;
}
.description {
  padding-top: 10px;
}
.state__wrap strong {
  font-size: 17px;
}
.sum__time__stop span, .num__cigarette span, .num__money span, .free__time span {
  font-family: 'Oxygen Mono', monospace;
  margin-left: 10px;
  font-size: 35px;
}
.sum__time__stop, .num__cigarette, .num__money, .free__time {
  font-size: 20px;
}
.statistics-page .fa,
.statistics-page .fas {
  font-size: 43px;
  margin: 2px 0;
  transition: .3s;
}
.statistics-page .fa-smoking-ban {
  color: #f54b4b;
}
.statistics-page .fa-ruble-sign {
  color: #69e265;
}
.statistics-page .fa-clock {
  color: #aa6be2;
}
.statistics-page .fa:hover,
.statistics-page .fas:hover {
  color: #dec157;
}
.statistics-page .fa-angle-double-down {
  color: #7c7c7c;
  font-size: 21px;
  position: absolute;
  bottom: 5px;
  right: 15px;
}
.statistics-page .fa-angle-double-down:hover {
  cursor: pointer;
  color: #000000;
}
.wrap__less {
  height: 145px;
  transition: .6s;
  overflow: hidden;
  position: relative;
}
.wrap__more {
  height: 195px;
}
.arrow__click {
  transform: rotate(-180deg);
}
.nicotine, .resin, .month, .year, .add__health span {
  font-family: 'Oxygen Mono', monospace;
  font-size: 20px;
}
.nicotine {
  margin-right: 45px;
}
.year, .month, .add__health {
  margin-left: 30px;
}
.state__wrap .more__info {
  margin-top: 20px;
}


