body {
    padding: 50px;
    margin: 0;
    font-family: 'Exo 2', sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 14px;
    background-color: rgb(76, 141, 214);
}

.main {
    width: 300px;
    height: 120px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: normal;
    padding: 10px;
    box-sizing: border-box;
    background-image: url("./img/weather.jpeg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.wetherWidget {
    position: relative;
    display: block;
}

.wraper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.title-wraper {
    margin-bottom: 5px;
}

#title {
    margin: 0;
    font-size: 15px;
    font-family: 'Exo 2', sans-serif;
    margin-bottom: 5px;
    /* font-weight: 700px; */
}

#today {
    margin-left: 5px;
}

.weather-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

h2 {
    margin: 0;
}

.city {
    font-family: 'Exo 2', sans-serif;
    margin-left: 5px;
}

#temp-wraper {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-left: 30px;
}

#temp {
    font-size: 38px;
    color: rgb(51, 50, 50);
}

.icon-degree {
    background-image: url("./img/degree.svg");
    width: 30px;
    height: 46px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-bottom: 5px;
}

.description-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#image {
    display: flex;
    width: 40px;
    height: 40px;
}

#image img {
    width: 40px;
    height: 40px;
    margin-left: -5px;
}

#close {
    position: absolute;
    color: black;
    font-size: 20px;
    font-weight: normal;
    top: 2px;
    right: 2px;
    width: 14px;
    height: 14px;
    text-decoration: none;
    cursor: pointer;
}

.close__widget {
    display: none;
}

.weather-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#forecast {
    margin-top: 7px;
    height: 24px;
    width: 120px;
    background-image: linear-gradient(180deg, rgb(125, 180, 231) 0%, #ffffff 100%);
    border: solid 1px rgb(202, 209, 214);
    margin: 0;
    padding: 0;
    border-radius: 4px;
    font-size: 12px;
    color: rgb(0, 0, 0);
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    outline: none;
    cursor: pointer;
}

#forecast:hover {
    background-image: linear-gradient(180deg, rgb(69, 153, 231) 0%, #ffffff 100%);
}

.section-wraper {
    display: block;
    width: 100%;
    height: 100%;
}

.link_back {
    display: block;
    margin-left: 212px;
    width: 50px;
    height: 16px;
    color: #fff;
    border: 1px #2888ee solid;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    font-family: 'Exo 2', sans-serif;
    background-color: #2888ee;
    text-decoration: none;
    text-align: center;
    margin-top: -15px;
}

.link_back:hover {
    background-color: #027cff;
    border: 1px #027cff solid;
}

.main-wraper {
    height: 120px;
    width: 100%;
}

.forecast-wraper {
    display: block;
}

.daysWraper {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.firstDay,
.secondDay,
.thirdDay {
    margin-top: 26px;
    flex: 0 1 75px;
    height: 100px;
    background-color: rgba(109, 174, 228, 0.342);
    border: solid 1px rgba(109, 174, 228, 0.342);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#day1,
#day2,
#day3 {
    width: 60px;
    height: 15px;
    font-size: 12px;
    font-family: 'Exo 2', sans-serif;
    color: #000;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
}

.tempWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#temp1,
#temp2,
#temp3 {
    font-size: 12px;
}

.iconCelsium {
    background-image: url("./img/degree.svg");
    width: 10px;
    height: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 2px;
}

#icon1,
#icon2,
#icon3 {
    width: 25px;
    height: 25px;
}

.firstDay #icon1>img,
.secondDay #icon2>img,
.thirdDay #icon3>img {
    width: 25px;
    height: 25px;
}

#description1,
#description2,
#description3 {
    font-size: 9px;
}

#wind1,
#wind2,
#wind3 {
    font-size: 11px;
    margin-top: 3px;
}

.section_closed {
    display: none;
}

#location {
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
}