[href^="https"]{
    background-image: url("pic/extref.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 15px;
}
p > a[href$=".doc"]{
    background-image: url("pic/logo-doc.jpg");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 20px;
}
p > a[href$=".pdf"]{
    background-image: url("pic/logo-pdf.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 20px;
}
p > a[href$=".zip"]{
    background-image: url("pic/logo-zip.gif");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 20px;
}
ul{
    list-style-image: url("pic/logo-list.jpg");
}
li a:hover[href$=".doc"]{
    background-image: url("pic/logo-doc.jpg");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 20px;
}
li a:hover[href$=".pdf"]{
    background-image: url("pic/logo-pdf.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 20px;
}
li a:hover[href$=".zip"]{
    background-image: url("pic/logo-zip.gif");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 20px;
}
p{
    border: 1px solid #00000030;
    padding: 10px;
    border-radius: 0 10px/20px;
}