a[href^="https"]:before{
    content: url("pic/extref.png");
    margin-right: 5px;
}
p > a[href$=".doc"]:after{
    content: url("pic/logo-doc.jpg");
    margin-left: 5px;
}
p > a[href$=".pdf"]:after{
    content: url("pic/logo-pdf.png");
    margin-left: 5px;
}
p > a[href$=".zip"]:after{
    content: url("pic/logo-zip.gif");
    margin-left: 5px;
}
ul li:before{
    content: url("pic/logo-list.jpg");
    margin-right: 5px;
}
ul{
    list-style-type: none;
    padding-left: 15px;
}
li a:hover[href$=".doc"]:after{
    content: url("pic/logo-doc.jpg");
    margin-left: 5px;
}
li a:hover[href$=".pdf"]:after{
    content: url("pic/logo-pdf.png");
    margin-left: 5px;
}
li a:hover[href$=".zip"]:after{
    content: url("pic/logo-zip.gif");
    margin-left: 5px;
}
p{
    border: 1px solid #00000030;
    padding: 10px;
    border-radius: 0 15px 0;
}