@import "style.css";

@media all and (max-width: 1140px) {
    .header{
        background-color: #70dd70;
        padding: 30px;
    }
    .footer{
        color: black;
        padding: 5px;
        background-color: #5d5d8f;
    }
    ul, h3{
        text-align: center;
        list-style-type: none;
    }
    img{
        float: right;
    }
    p{
        color: #ff1c1a;
    }
    h2{
        text-align: right;
    }
}
@media all and (max-width: 850px) {
    .header{
        background-color: #e0b283;
        padding: 20px;
    }
    .menu{
        float: none;
        width: 100%;
        background-color: #e78484;
        padding: 1px;
    }
    .container{
        background-image: none;
    }
    img{
        float: left;
        margin: 0 10px;
    }
    li {
        display: inline-block;
        margin: 5px 5px 5px 5px;

    }
    ul, h3{
        text-align: center;
        margin: 5px 5px 5px 5px;
    }
    .content{
        background-color: #cbc0c0;
        color: #50a750;
    }
    p, h2{
        color: #50a750;
        margin: 10px 10px 10px 10px;
    }
    .footer{
        padding: 20px;
        background-color: #6394bf;
    }
    h2{
        text-align: center;
    }
    ul, h2, h3, .header, .footer, a{
        color: white;
    }
}