* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


















.about {
	background: #16dbc1 url(../img/bg-about.png) 0 0 no-repeat;
	background-size: cover;
}

.about__face {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.avatar {
	position: absolute;
	top: 50px;
  left: 10px;
  z-index: 9999;
}

.comment {
	position: relative;
	top: -135px;
	left: 90px;
}

.comment p {
	color: #78909c;
	line-height: 1.6em;
	padding-top: 16px;
}

.bx-wrapper {
	border: none;
	background: none;
	position: relative;
	padding-top: 97px;
	margin-bottom: 0;
	top: 0;
	z-index: 1;
	margin-right: 10px;
}

.bx-wrapper .bx-controls-direction a {
	position: relative;
	top: 0;
	left: 50%;
	z-index: 9999;
}

.bx-wrapper .bx-prev  {
	display: block;
	top: -575px !important;
}

.bx-wrapper .bx-next {
	display: block;
	top: -75px !important;
}

.bx-wrapper .bx-pager {
	display: none;
}


