input{
    margin: 8px 0;
}
textarea{
    width: 100%;
    resize: none;
    margin-right: -10px;
}
[type="text"]{
    width: 100%;
}
select{
    margin-left: 110px;
    width: 200px;
}
[value="site"]{
    margin-left: 82px;
    margin-right: 5px;
}
[value="magazine"], [value="all"]{
    margin: 0 5px;
}
.text{
    margin-left: 173px;
    margin-top: -28px;
    margin-right: 10px;
}
.area{
    margin-right: 9px;
}
.site, .magazine{
    display: inline;
}
@media all and (max-width: 750px) {
    .text{
        margin-left: 0;
        margin-top: 0;
    }
    select{
        margin-left: 0;
        width: 100%;
    }
    .site, .magazine{
        display: block;
    }
    [value="site"], [value="magazine"], [value="all"]{
        margin: 0 0 5px;
    }
    span{
        display: block;
        margin: 5px 0;
    }
}